h1 {
  color: #ffffff;
}
li {
  color: #ffffff;
}
section {
  color: white;
}
footer {
  color: #ffffff;
}

.heroSection {
  background-color: black;
}
.highlight {
  color: black;
  font-weight: bold;
}
